.URdiv{
    width: fit-content;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}
.underReview, .rejected{
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    color: #009CDE;
    margin-top: -55px;
    margin-left: 35px;
    font-size: 11px;
    width: 107px;
}
.rejected{
    margin-top: 5px;
}
.selectUR{
    background: #009CDE;
    border: 1px solid #009CDE;
    color: #fff;

}